---
layout: default
---

<div class="home">

  <h1 class="page-heading">Categories</h1>
  <ul>
  {% for category in site.categories %}
    <li>{{ category | first | capitalize }}</li></a>
      <ul>
      {% for posts in category %}
        {% for post in posts %}
          {% if post.url %}
          <li><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>

  <br/>
  <br/>
  <!-- Total Examples {{ site.posts | size }} -->
<a class="post-link" rel="nofollow" href="{{ '/single-page' | prepend: site.github.url }}">View All Examples in Single Page</a>
  <br/>
  <br/>

  <h1 class="page-heading">Recent Examples</h1>

  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


</div>
